<h1>Listing evaluations</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Tipoprueba</th>
    <th>Asignatura</th>
    <th>Criterios</th>
    <th>Ponderacion</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.id %></td>
    <td><%= evaluation.tipoprueba %></td>
    <td><%= evaluation.asignatura_id %></td>
    <td><%= evaluation.criterios %></td>
    <td><%= evaluation.ponderacion %></td>
    <td><%= evaluation.descripcion %></td>
    <td><%= link_to 'Show', evaluation %></td>
    <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= "ESTA ES LA CLAVE:" + @evaluations.inspect%>
<br />

<%= link_to 'New Evaluation', new_evaluation_path %>
<%= link_to 'home', index_path %>
<%= puts "ESTA ES LA CLAVE:" + Evaluation.primary_key.to_s %>
