<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>Turn plain webform into a powerful wizard with jQuery</title>
  <style type="text/css">
      body { font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; font-size:13px; margin:20px; background-color:#white}
      #main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#00000;} <!-- esto debe #956295 -->
      #header {font-family: Arial, Helvetica, sans-serif; color:#black; text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
      form {class: form-horizontal}
      fieldset { border:none; width:320px;}
      legend { font-size:18px; margin:0px; padding:10px 0px; color:#black; font-weight:bold;}
      label { display:block; margin:15px 0 5px;color:#black; font-weight:bold;}
      input[type=text], input[type=password], input[type=number] { width:300px; padding:5px; border:solid 2px #000;}
      textarea {width:300px; padding:5px; border:solid 2px #000;}
      select  {width:100px; padding:5px; border:solid 2px #000;}
      img  {width:50%; height: 50%;}
      .prev, .next { background-color:#blue; padding:5px 10px; color:#black; text-decoration:none;     border-top-left-radius: 5px 5px;
          border-bottom-right-radius: 5px 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;border:solid 2px #000;}
      .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
      .prev { float:left;}
      .next { float:right;}
      #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
      #steps li {font-size:24px; float:left; padding:10px; color:#DBDBDB;}
      #steps li span {font-size:11px; display:block;}
      #steps li.current {color:#000;}
      #makeWizard { background-color:#b0232a; color:#black; padding:5px 10px; text-decoration:none; font-size:18px;}
      #makeWizard:hover { background-color:#000;}

  </style>
  <!--<=script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"><=#/script>-->
  <script type="text/javascript" src="/assets/formToWizard.js"></script>


</head>
<body>
<div class="container">
<div id="header">
  <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" />
  <div class="page-header">
    <h1>Asignaturas <small>Nueva Asignatura</small></h1>
  </div>
</div>


  <script type="text/javascript">
      $(document).ready(function(){
          $('form').formToWizard({ submitButton: 'SaveAccount' })
      });

/*      $(document).ready(function(){
      $("#asignatura_nombre").validate
      expression: "if(VAL != '') return true; else return false;"
      message: "Nombre requerido." })*/
  </script>


    <%= form_for @asignatura, :html => {:class => "form-horizontal"} do |f| %>

        <% if @asignatura.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4><%= pluralize(@asignatura.errors.count, "error") %> ha impedido salvar los cambios:</h4>

          <ul>
            <% @asignatura.errors.each_with_index do |msg, i| %>
                <li><%= msg[1] %></li>
            <% end %>
          </ul>
        </div>
        <% end %>


        <fieldset>
          <legend>Asignatura</legend>

          <div class="row">
            <div class="span10">
              <div class="row">
                <div class="span5">
                  <div class="control-group">
                    <%= f.label :nombre, "Nombre" + mark_required(@asignatura, :nombre), :class => "control-label", :required => true %> <br />
                    <div class="controls">
                      <%= f.text_field :nombre,:type => "text", :placeholder => "Introduce nombre de asignatura" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :codigo, "Código"+ mark_required(@asignatura, :codigo), :class => "control-label", :required => true %><br />
                    <div class="controls">
                      <%= f.text_field :codigo,:type => "text", :placeholder => "Introduce código de asignatura" %>
                    </div>

                  </div>
                  <div class="control-group">
                    <%= f.label :centro, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :centro,:type => "text", :placeholder => "Introduce centro"%>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :titulacion, "Titulación", :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :titulacion,:type => "text", :placeholder => "Introduce titulación " %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :plan, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :plan, :type => "text", :placeholder => "Introduce el plan" %>
                    </div>
                  </div>

                </div>
                <div class="span5">
                  <div class="control-group">
                    <%= f.label :rama, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :rama, :type => "text", :placeholder => "Introduce rama" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :itinerario, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :itinerario, :type => "text", :placeholder => "Introduce itinerario" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :departamento, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :departamento, :type => "text", :placeholder => "Introduce departamento" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :area, "Área", :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :area, :type => "text", :placeholder => "Introduce área" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :Curso, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.select :curso, options_for_select([["Primero", "1"], ["Segundo", "2"],["Tercero", "3"],["Cuarto", "4"]], :multiple => "muliple") %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Asignatura </legend>
          <div class="row">
            <div class="span10">
              <div class="row">
                <div class="span5">
                  <div class="control-group">
                    <%= f.label :caracter,"Carácter", :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :caracter, :type => "text", :placeholder => "Introduce carácter" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :duracion,"Duración", :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :duracion, :type => "number", :placeholder => "Introduce duración" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :creditos, "Cŕeditos", :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.number_field :creditos, :type => "number", :placeholder => "Introduce nº de créditos" %>
                    </div>
                  </div>
                </div>
                <div class="span5">
                  <div class="control-group">
                    <%= f.label :horario, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :horario, :type => "text", :placeholder => "Introduce horario" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :web, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :web, :type => "text", :placeholder => "Introduce web" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :idioma, :class => "control-label" %><br />
                    <div class="controls">
                      <%= f.text_field :idioma, :type => "text", :placeholder => "Introduce idioma/s" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Profesorado </legend>
          <div class="control-group">
            <%= f.label :profesor_tokens, "Profesores", :class => "control-label"  %><br />
            <div class="controls">
            <%= f.text_field :profesor_tokens, :class => "input-medium search-query", "data-pre" => @asignatura.profesores.map(&:attributes).to_json %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Competencias</legend>
          <div class="control-group">
            <%= f.label :competencia_tokens, "Competencias", :class => "control-label"  %><br />
            <div class="controls">
            <%= f.text_field :competencia_tokens, :class => "input-medium search-query", "data-pre" => @asignatura.competencies.map(&:attributes).to_json %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Contextualización </legend>
          <div class="control-group">
            <%= f.label :bloque, :class => "control-label" %><br />
            <div class="controls">
                <%= f.text_field :bloque, :type => "text", :placeholder => "Introduce bloque" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :perfil, :class => "control-label" %><br />
            <div class="controls">
                <%= f.text_field :perfil, :type => "text", :placeholder => "Introduce perfil" %>
            </div>
          </div>
        </fieldset>


        <fieldset>
            <%= render :partial => 'pruebas/form' ,
                   :locals => {:form => f} %>
        </fieldset>

        <fieldset>
          <legend>Bibliografía</legend>
          <div class="control-group">
            <%= f.label :bibliografia, "Bibliografía", :class => "control-label" %><br />
            <div class="controls">
                <%= f.text_area :bibliografia,:rows => "2", :cols => "60", :type => "text", :placeholder => "Introduce bibliografía", :rows => "2" %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Resultados</legend>
          <div class="control-group">
            <%= f.label :resultados, "Resultados", :class => "control-label" %><br />
            <div class="controls">
                <%= f.text_area :resultados, :rows => "2", :cols => "60", :type => "text", :placeholder => "Introduce resultados" %>
            </div>
          </div>
        </fieldset>


        <%#= f.submit "Crear", :class => "btn btn-success"%>


      <%= f.submit  :class => 'btn btn-primary', :value => "Crear Asignatura" %>
    <%= link_to 'Cancelar', asignaturas_path, :class => 'btn' %>


    <% end %>


  </div>


</body>
</html>