<!DOCTYPE html>
<html>
<head>
  <title>Activerecord</title>
  <%= stylesheet_link_tag    "application", "token-input", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
  <%= yield(:head)%>
</head>
<body>

<%= yield %>

</body>
</html>
