<head>
  <title>Turn plain webform into a powerful wizard with jQuery</title>
  <style type="text/css">
      body { font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; font-size:13px; margin:20px; background-color:#white}
      #main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#00000;} <!-- esto debe #956295 -->
      #header {font-family: Arial, Helvetica, sans-serif; color:#black; text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
      form {class: form-horizontal}
      fieldset { border:none; width:320px;}
      legend { font-size:18px; margin:0px; padding:10px 0px; color:#black; font-weight:bold;}
      label { display:block; margin:15px 0 5px;color:#black; font-weight:bold;}
      input[type=text], input[type=password], input[type=number] { width:300px; padding:5px; border:solid 2px #000;}
      textarea {width:300px; padding:5px; border:solid 2px #000;}
      select  {width:100px; padding:5px; border:solid 2px #000;}
      img  {width:50%; height: 50%;}
  </style>

</head>
<body>
<div class="container">

  <div id="header">
    <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" />
    <div class="page-header">
      <h1>Profesores <small>Nuevo Profesor</small></h1>
    </div>
  </div>

  <%= form_for @profesore, :html => {:class => "form-horizontal"} do |f| %>
      <% if @profesore.errors.any? %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><%= pluralize(@profesore.errors.count, "error") %> ha impedido salvar los cambios:</h4>

            <ul>
              <% @profesore.errors.each_with_index do |msg, i| %>
                  <li><%= msg[1] %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row">
        <div class="span10">
          <div class="row">
            <div class="span5">
              <div class="control-group">
                <div class="field">
                  <%= f.label :name, "Nombre" + mark_required(@profesore, :name), :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :name %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :departamento, :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :departamento %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :area, "Área", :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :area %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :lugar_tutoria, "Lugar Tutoría", :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :lugar_tutoria %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :horario_tutoria, "Horario Tutoría", :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :horario_tutoria %>
                  </div>
                </div>
              </div>

            </div>
            <div class="span5">

              <div class="control-group">
                <div class="field">
                  <%= f.label :telefono, "Teléfono", :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.number_field :telefono %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :mail, "E-mail" , :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :mail %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :web, :class => "control-label" %><br />
                  <div class="controls">
                    <%= f.text_field :web %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :password, "Contraseña"  + mark_required(@profesore, :password), :class => "control-label"  %><br />
                  <div class="controls">
                    <%= f.text_field :password %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="field">
                  <%= f.label :rol, "Rol" +  mark_required(@profesore, :rol), :class => "control-label"  %><br />
                  <div class="controls">
                    <%= f.text_field :rol %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <%= f.submit  :class => 'btn btn-primary', :value => "Crear Profesor" %>
      <%= link_to 'Cancelar', profesores_path, :class => 'btn' %>
  <% end %>
</div>
</body>
