<% @extra_attributes = session[:cas_extra_attributes] %>
<% @identifier = @extra_attributes["id"]  %>

<% @p = Profesore.find(@identifier) %>

<div class="container">
<div id="header">
  <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" />
  <div class="page-header">
    <h1>Profesores <small>Índice</small></h1>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Departamento</th>
    <th>Area</th>
    <th>Lugar tutoria</th>
    <th>Horario tutoria</th>
    <th>Telefono</th>
    <th>Mail</th>
    <th>Web</th>
    <th>Password
    <th>Rol</th>
    <th></th>
    <% if can? :edit, Profesore %>
        <th></th>
    <% end %>
    <% if can? :destroy, Profesore %>
        <th></th>
    <% end %>
  </tr>

<% @profesore.each do |profesore| %>
  <tr>
    <td><%= profesore.id %></td>
    <td><%= profesore.name %></td>
    <td><%= profesore.departamento %></td>
    <td><%= profesore.area %></td>
    <td><%= profesore.lugar_tutoria %></td>
    <td><%= profesore.horario_tutoria %></td>
    <td><%= profesore.telefono %></td>
    <td><%= profesore.mail %></td>
    <td><%= profesore.web %></td>
    <td><%= profesore.password %></td>
    <td><%= profesore.rol %></td>
    <td><%= link_to 'Mostrar', profesore, :class =>"btn"  %></td>
    <% if can? :edit, Profesore %>
        <% if @p.id == profesore.id || @p.rol == "admin" %>
            <td><%= link_to 'Editar', edit_profesore_path(profesore), :class =>"btn"  %></td>
        <% end %>
    <% end %>
    <% if can? :destroy, Profesore %>
        <td><%= link_to 'Borrar', profesore, method: :delete, data: { confirm: '¿Estás seguro?' }, :class =>"btn btn-danger"  %></td>
     <% end %>
  </tr>
<% end %>
</table>

<br />

Zz    <%= "El id  = " + @identifier %>
    <%= "El usuario actual  = " + @p.name.to_s %>
<%= "El usuario actual  = " + session[:cas_user].to_s %>
<%= "El usuario actual  = " + :current_user.inspect %>
<% if can? :new, Profesore %>
    <div class="btn">
        <%= link_to 'Nuevo Profesor', new_profesore_path %>
    </div>
<% end %>
  <div class="btn">
    <%= link_to 'Home', index_path %>
  </div>
</div>