<div class="container">
  <div id="header">
    <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" width=50% height=50%/>
    <div class="page-header">
      <h1>Competencias de las Asignaturas <small>Índice</small></h1>
    </div>
  </div>


  <table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Asignatura</th>
    <th>Competencia</th>
    <th></th>
    <!--    <% if can? :edit, @competency_pertenece_asignatura%>
        <th></th>
    <% end %>
    <% if can? :new, @competency_pertenece_asignatura %>
        <th></th>
     <% end %>-->
  </tr>

<% @competency_pertenece_asignaturas.each do |competency_pertenece_asignatura| %>
  <tr>
    <td><%= competency_pertenece_asignatura.id %></td>
    <!--<%= @asig = Asignatura.find(competency_pertenece_asignatura.asignatura_id)%>-->
    <td><%= @asig.nombre %></td>
    <!--<td><%= competency_pertenece_asignatura.asignatura_id %></td>-->
    <!--<%= @com = Competency.find(competency_pertenece_asignatura.asignatura_id)%>-->
    <td><%= @com.name %></td>
    <!--<td><%= competency_pertenece_asignatura.competency_id %></td>-->
    <td><%= link_to 'Mostrar', competency_pertenece_asignatura, :class => "btn" %></td>
    <!--    <% if can? :edit, @competency_pertenece_asignatura, :class => "btn" %>
        <td><%= link_to 'Editar', edit_competency_pertenece_asignatura_path(competency_pertenece_asignatura), :class => "btn" %></td>
    <% end %>
    <% if can? :destroy, @competency_pertenece_asignatura %>
        <td><%= link_to 'Borrar', competency_pertenece_asignatura, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
    <% end %>-->
  </tr>
<% end %>
</table>

<br />
<% if can? :new, @competency_pertenece_asignatura %>
      <div class="btn">
    <%= link_to 'Nueva competencia de asignatura', new_competency_pertenece_asignatura_path %>
      </div>
<% end %>
  <div class="btn">
<%= link_to 'Home', index_path %>
    </div>

    </div>
</div>