<%= form_for(@competency) do |f| %>
  <% if @competency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competency.errors.count, "error") %> prohibited this competency from being saved:</h2>

      <ul>
      <% @competency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, "Nombre" + mark_required(@competency, :name), :class => "control-label", :required => true %> <br />
      <div class="controls">
        <%= f.text_field :name,:type => "text", :placeholder => "Introduce nombre de asignatura" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :descripcion, "Descripción", :class => "control-label" %><br />
      <div class="controls">
        <%= f.text_area :descripcion, :type => "text", :placeholder => "Introduce bibliografía", :rows => "2" %>
      </div>
    </div>
  <div class="field">
    <%= f.label :tipo, "Tipo"+ mark_required(@competency, :tipo) %><br />
   <%= f.select :tipo, options_for_select([["General", "General"], ["Transversal", "Transversal"],["Específica", "Específica"]]) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
