<%= form_for(@asignatura) do |f| %>
  <% if @asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignatura.errors.count, "error") %> prohibited this asignatura from being saved:</h2>

      <ul>
      <% @asignatura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
    <%= a = :codigo %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :titulacion %><br />
    <%= f.text_field :titulacion %>
  </div>
  <div>
    <%= f.label :profesor_tokens, "Profesores" %><br />  
    <%= f.text_field :profesor_tokens, "data-pre" => @asignatura.profesores.map(&:attributes).to_json %>  
  </div>
    <div>
    <%= f.label :competencia_tokens, "Competencias" %><br />  
    <%= f.text_field :competencia_tokens, "data-pre" => @asignatura.competencies.map(&:attributes).to_json %>  
  </div>
  
  
    <div class="actions">
    <%= f.submit "Crear asignatura" %>
  </div>
  
   <%#= fields_for @profesor_pertenece_asignatura do |fa| %>
      <%#=fa.label :profesor %>
      <%#= fa.collection_select :profesor, Profesore.find(:all),:name, :name, :prompt => "Elige a un profesor" %>
      <%#= fa.select :rol, options_for_select([["Administrador", "1"], ["Profesor", "2"],["Revisor", "3"]]) %>
      <%#= fa.instance_values  %>
      <%#=ProfesorPerteneceAsignatura.new(:rol => "profesor")%>
      <%#= fa.class.instance_methods.inspect %>
      <%#= ProfesorPerteneceAsignatura.instance_methods.select {|x| x=~ /rol/}.inspect %>
      <%#= a = ProfesorPerteneceAsignatura.find(:all)
          a.inspect
          a.each do |p|
            p.rol = "profesor"
            p.save
          end
          a.inspect
          
      %>
    
      <%#= fa.submit "Crear pertenencia" %>      
   <%# end %>
  
<!--   <div class="field">
   <!%= f.label "combo de profesores"%><br /> 
  <!-- f.collection_select :nombre, Profesore.find(:all),:nombre, :nombre, :prompt => "Elige a un profesor" --> 
<!-->  </div> -->
  
  <div class="field">
    <%= f.label :rama %><br />
    <%= f.text_field :rama %>
  </div>
  <div class="field">
    <%= f.label :itinerario %><br />
    <%= f.text_field :itinerario %>
  </div>
  <div class="field">
    <%= f.label :departamento %><br />
    <%= f.text_field :departamento %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :Curso %><br />
   <%= f.select :curso, options_for_select([["Primero", "1"], ["Segundo", "2"],["Tercero", "3"],["Cuarto", "4"]]) %>
  </div>
  <div class="field">
    <%= f.label :caracter %><br />
    <%= f.text_field :caracter %>
  </div>
  <div class="field">
    <%= f.label :duracion %><br />
    <%= f.text_field :duracion %>
  </div>
  <div class="field">
    <%= f.label :creditos %><br />
    <%= f.number_field :creditos %>
  </div>
  <div class="field">
    <%= f.label :horario %><br />
    <%= f.text_field :horario %>
  </div>
  <div class="field">
    <%= f.label :web %><br />
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :idioma %><br />
    <%= f.text_field :idioma %>
  </div>
  <div class="field">
    <%= f.label :bloque %><br />
    <%= f.text_field :bloque %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br />
    <%= f.text_field :perfil %>
  </div>
  <div class="field">
    <%= f.label :bibliografia %><br />
    <%= f.text_area :bibliografia %>
  </div>
  <div class="field">
    <%= f.label :resultados %>
    <%= f.text_area :resultados %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="actions">
    <%= f.submit "Crear asignatura" %>
  </div>
  
  
<% end %>





