<div class="container">
  <div id="header">
    <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" />
    <div class="page-header">
      <h1>Competencias de las Evaluaciones <small>Índice</small></h1>
    </div>
  </div>


<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Competencia</th>
    <th>Evaluación</th>
    <th></th>
    <% if can? :edit, @competency_pertenece_prueba %>
        <th></th>
    <% end %>
<!--    <% if can? :destroy, @competency_pertenece_prueba %>
        <th></th>
    <% end %>-->
  </tr>

<% @competency_pertenece_pruebas.each do |competency_pertenece_prueba| %>
  <tr>
    <td><%= competency_pertenece_prueba.id %></td>
    <td><%= competency_pertenece_prueba.competency_id %></td>
    <td><%= competency_pertenece_prueba.prueba_id %></td>
    <td><%= link_to 'Mostrar', competency_pertenece_prueba, :class => "btn" %></td>
    <% if can? :edit, @competency_pertenece_prueba %>
        <td><%= link_to 'Editar', edit_competency_pertenece_prueba_path(competency_pertenece_prueba), :class => "btn"  %></td>
    <% end %>
 <!--   <% if can? :destroy, @competency_pertenece_prueba %>
        <td><%= link_to 'Borrar', competency_pertenece_prueba, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
    <% end %>-->
  </tr>
<% end %>
</table>

<br />
<% if can? :new, @competency_pertenece_prueba %>
      <div class="btn">
    <%= link_to 'Nueva competencia de evaluación', new_competency_pertenece_prueba_path %>
      </div>
  <% end %>
      <div class="btn">
<%= link_to 'Home', index_path %>
  </div>
 </div>
</div>