<div class="container">
  <div id="header">
    <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" />
    <div class="page-header">
      <h1>Competencia-Evaluación <small><%=@competency_pertenece_prueba.id %></small></h1>
    </div>
  </div>

<p id="notice"><%= notice %></p>

<p>
  <b>Competencia:</b>
  <%= @competency_pertenece_prueba.competency_id %>
</p>

<p>
  <b>Evaluación:</b>
  <%= @competency_pertenece_prueba.prueba_id %>
</p>

<div class="btn">
  <%= link_to 'Editar', edit_competency_pertenece_prueba_path(@competency_pertenece_prueba) %>
</div>
<div class="btn">
  <%= link_to 'Volver', competency_pertenece_pruebas_path %>
</div>
</div>
</div>