<%= form.fields_for :pruebas do |prueba| %>

      <legend>0.PROBANDO</legend>
  <div class="field">
    <%= prueba.label :tipoprueba %><br />
    <%= prueba.text_field :tipoprueba %>
  </div>
  <div class="field">
    <%= prueba.label :criterios %><br />
    <%= prueba.text_area :criterios %>
  </div>

  <div class="field">
    <%= prueba.label :ponderacion %><br />
    <%= prueba.text_field :ponderacion %>
  </div>

  <div class="field">
    <%= prueba.label :descripcion %><br />
    <%= prueba.text_area :descripcion %>
  </div>


  <div class="field">
    <label for="asignatura_pruebas_attributes_0_prueba_tokens">Competencia</label><br>
     <ul class="token-input-list-facebook">
      <li class="token-input-input-token-facebook">
      <div class="token-input-dropdown-facebook" style="display: none; "></div>
      <input data-pre="[]" id="asignatura_pruebas_attributes_0_prueba_tokens" name="asignatura[pruebas_attributes][0][prueba_tokens]" size="30" type="text">
  </div>


<% end %>
