<div class="container">
  <div id="header">
    <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" />
    <div class="page-header">
      <h1>Evaluaciones <small>Índice</small></h1>
    </div>
  </div>


  <table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Asignatura</th>
    <th>Tipo Prueba</th>
    <th>Criterios</th>
    <th>Ponderación</th>
    <th>Descripción</th>
    <th></th>
    <% if can? :destroy, @prueba %>
        <th></th>
    <% end %>
  </tr>

<% @pruebas.each do |prueba| %>
  <tr>
    <td><%= prueba.id %></td>
    <td><%= prueba.asignatura_id %></td>
    <td><%= prueba.tipoprueba %></td>
    <td><%= prueba.criterios %></td>
    <td><%= prueba.ponderacion %></td>
    <td><%= prueba.descripcion %></td>
    <td><%= link_to 'Mostrar', prueba, :class => "btn" %></td>
    <% if can? :destroy, @prueba %>
        <td><%= link_to 'Borrar', prueba, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :new, @prueba %>
      <div class="btn">
    <%= link_to 'Nueva Prueba', new_prueba_path %>
      </div>
<% end %>
  <div class="btn">
<%= link_to 'Home', index_path %>
    </div>
</div>
</div>