<h1>Listing pruebas</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Asignatura</th>
    <th>Tipo Prueba</th>
    <th>Criterios</th>
    <th>Ponderación</th>
    <th>Descripción</th>
    <th></th>
    <% if can? :edit, @prueba %>
        <th></th>
    <% end %>
    <% if can? :destroy, @prueba %>
        <th></th>
    <% end %>
  </tr>

<% @pruebas.each do |prueba| %>
  <tr>
    <td><%= prueba.id %></td>
    <td><%= prueba.asignatura_id %></td>
    <td><%= prueba.tipoprueba %></td>
    <td><%= prueba.criterios %></td>
    <td><%= prueba.ponderacion %></td>
    <td><%= prueba.descripcion %></td>
    <td><%= link_to 'Show', prueba %></td>
    <% if can? :edit, @prueba %>
        <td><%= link_to 'Edit', edit_prueba_path(prueba) %></td>
    <% end %>
    <% if can? :destroy, @prueba %>
        <td><%= link_to 'Destroy', prueba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :new, @prueba %>
    <%= link_to 'New Prueba', new_prueba_path %>
<% end %>
<%= link_to 'home', index_path %>
