<div class="container">
  <div id="header">
    <img src="/assets/ull_color_horizontal2.jpg" class="img-rounded" alt="Asignatura" width=50 height= 50 />
    <div class="page-header">
      <h1>Prueba <small><%= @prueba.id %></small></h1>
    </div>
  </div>


  <p id="notice"><%= notice %></p>

<p>
  <b>Asignatura:</b>
  <%= @prueba.asignatura_id %>
</p>

<p>
  <b>Tipo Prueba:</b>
  <%= @prueba.tipoprueba %>
</p>

<p>
  <b>Criterios:</b>
  <%= @prueba.criterios %>
</p>

<p>
  <b>Ponderación:</b>
  <%= @prueba.ponderacion %>
</p>

<p>
  <b>Descripción:</b>
  <%= @prueba.descripcion %>
</p>

  <p>
    <b>Competencias:</b>
    <%= @prueba.competencies.map(&:name).to_json %>
  </p>


  <div class="btn">
    <%= link_to 'Editar', edit_prueba_path(@prueba) %>
  </div>
  <div class="btn">
    <%= link_to 'Volver', pruebas_path %>
  </div>

</div>
</div>