<%= form_for(@competency_pertenece_evaluation) do |f| %>
  <% if @competency_pertenece_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competency_pertenece_evaluation.errors.count, "error") %> prohibited this competency_pertenece_evaluation from being saved:</h2>

      <ul>
      <% @competency_pertenece_evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluation_id %><br />
    <%= f.number_field :evaluation_id %>
  </div>
  <div class="field">
    <%= f.label :competency_id %><br />
    <%= f.number_field :competency_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
