<!DOCTYPE html>
<html>
<head>
  <title>SGGA-ULL</title>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive", "token-input-facebook", :media => "all" %>
  <%= javascript_include_tag "bootstrap","application", "jquery.tokeninput", "jquery", "formToWizard"   %>
  <%= csrf_meta_tags %>
  <%= yield(:head)%>
</head>
<body>
<%= yield %>
</body>
</html>