<!DOCTYPE html>
<html>
<head>
  <title>SGGA-ULL</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application","jquery"  %>
  <%= csrf_meta_tags %>
  <%= yield(:head)%>
</head>
<body>
<%= yield %>
</body>
</html>